# DBMS-1

Learning SQL

### Imports

Libraries

In [1]:
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

#### Functions

Reading Commands from .sql file

In [2]:
def Extract(FilePath):
    f = open(FilePath)
    s = f.read()
    return s

#### Creating a DataBase and Entering Data

Creating Database and Tables

In [3]:
connection = sqlite3.connect("Database/Data.db")
cursor = connection.cursor()

Command = Extract("SQL Files/DDL.sql")
cursor.executescript(Command)

Entering Data

In [4]:
Command = Extract("SQL Files/smallRelationsInsertFile.sql")
cursor.executescript(Command)

Saving Changes

In [5]:
connection.commit()

### Queries

In [6]:
Query="""
SELECT *
FROM instructor
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('ID', 'name', 'dept_name', 'salary')
('10101', 'Srinivasan', 'Comp. Sci.', 65000)
('12121', 'Wu', 'Finance', 90000)
('15151', 'Mozart', 'Music', 40000)
('22222', 'Einstein', 'Physics', 95000)
('32343', 'El Said', 'History', 60000)
('33456', 'Gold', 'Physics', 87000)
('45565', 'Katz', 'Comp. Sci.', 75000)
('58583', 'Califieri', 'History', 62000)
('76543', 'Singh', 'Finance', 80000)
('76766', 'Crick', 'Biology', 72000)
('83821', 'Brandt', 'Comp. Sci.', 92000)
('98345', 'Kim', 'Elec. Eng.', 80000)

In [7]:
Query="""
Insert into instructor values ('10211', 'Aditya', 'SriDevi', 10000000);
"""
cursor.execute(Query)

Query="""
SELECT *
FROM instructor
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('ID', 'name', 'dept_name', 'salary')
('10101', 'Srinivasan', 'Comp. Sci.', 65000)
('12121', 'Wu', 'Finance', 90000)
('15151', 'Mozart', 'Music', 40000)
('22222', 'Einstein', 'Physics', 95000)
('32343', 'El Said', 'History', 60000)
('33456', 'Gold', 'Physics', 87000)
('45565', 'Katz', 'Comp. Sci.', 75000)
('58583', 'Califieri', 'History', 62000)
('76543', 'Singh', 'Finance', 80000)
('76766', 'Crick', 'Biology', 72000)
('83821', 'Brandt', 'Comp. Sci.', 92000)
('98345', 'Kim', 'Elec. Eng.', 80000)
('10211', 'Aditya', 'SriDevi', 10000000)

In [8]:
Query="""
alter table instructor add CGPA double
"""
cursor.execute(Query) 

Query="""
SELECT *
FROM instructor
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('ID', 'name', 'dept_name', 'salary', 'CGPA')
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None)
('12121', 'Wu', 'Finance', 90000, None)
('15151', 'Mozart', 'Music', 40000, None)
('22222', 'Einstein', 'Physics', 95000, None)
('32343', 'El Said', 'History', 60000, None)
('33456', 'Gold', 'Physics', 87000, None)
('45565', 'Katz', 'Comp. Sci.', 75000, None)
('58583', 'Califieri', 'History', 62000, None)
('76543', 'Singh', 'Finance', 80000, None)
('76766', 'Crick', 'Biology', 72000, None)
('83821', 'Brandt', 'Comp. Sci.', 92000, None)
('98345', 'Kim', 'Elec. Eng.', 80000, None)
('10211', 'Aditya', 'SriDevi', 10000000, None)

In [9]:
Query="""
SELECT salary,name
FROM instructor
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('salary', 'name')
(65000, 'Srinivasan')
(90000, 'Wu')
(40000, 'Mozart')
(95000, 'Einstein')
(60000, 'El Said')
(87000, 'Gold')
(75000, 'Katz')
(62000, 'Califieri')
(80000, 'Singh')
(72000, 'Crick')
(92000, 'Brandt')
(80000, 'Kim')
(10000000, 'Aditya')

In [10]:
Query="""
SELECT distinct dept_name
FROM instructor
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('dept_name',)
('Comp. Sci.',)
('Finance',)
('Music',)
('Physics',)
('History',)
('Biology',)
('Elec. Eng.',)
('SriDevi',)

In [11]:
Query="""
SELECT '437' as FOO
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('FOO',)
('437',)

In [12]:
Query="""
SELECT 'A'
FROM instructor
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
("'A'",)
('A',)
('A',)
('A',)
('A',)
('A',)
('A',)
('A',)
('A',)
('A',)
('A',)
('A',)
('A',)
('A',)

In [13]:
Query="""
SELECT name,salary/12 as monthly_salary
FROM instructor
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('name', 'monthly_salary')
('Srinivasan', 5416)
('Wu', 7500)
('Mozart', 3333)
('Einstein', 7916)
('El Said', 5000)
('Gold', 7250)
('Katz', 6250)
('Califieri', 5166)
('Singh', 6666)
('Crick', 6000)
('Brandt', 7666)
('Kim', 6666)
('Aditya', 833333)

In [14]:
Query="""
SELECT name,dept_name
FROM instructor
where not salary == 10000000
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('name', 'dept_name')
('Srinivasan', 'Comp. Sci.')
('Wu', 'Finance')
('Mozart', 'Music')
('Einstein', 'Physics')
('El Said', 'History')
('Gold', 'Physics')
('Katz', 'Comp. Sci.')
('Califieri', 'History')
('Singh', 'Finance')
('Crick', 'Biology')
('Brandt', 'Comp. Sci.')
('Kim', 'Elec. Eng.')

In [15]:
Query="""
SELECT *
FROM instructor, teaches
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('ID', 'name', 'dept_name', 'salary', 'CGPA', 'ID', 'course_id', 'sec_id', 'semester', 'year')
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '10101', 'CS-101', '1', 'Fall', 2009)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '10101', 'CS-315', '1', 'Spring', 2010)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '10101', 'CS-347', '1', 'Fall', 2009)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '12121', 'FIN-201', '1', 'Spring', 2010)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '15151', 'MU-199', '1', 'Spring', 2010)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '22222', 'PHY-101', '1', 'Fall', 2009)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '32343', 'HIS-351', '1', 'Spring', 2010)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '45565', 'CS-101', '1', 'Spring', 2010)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '45565', 'CS-319', '1', 'Spring', 2010)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '76766', 'BIO-101', '1', 'Summer', 2009)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '76766', 'BIO-301', '1', 'Summer', 2010)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '83821', 'CS-190', '1', 'Spring', 2009)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '83821', 'CS-190', '2', 'Spring', 2009)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '83821', 'CS-319', '2', 'Spring', 2010)
('10101', 'Srinivasan', 'Comp. Sci.', 65000, None, '98345', 'EE-181', '1', 'Spring', 2009)
('12121', 'Wu', 'Finance', 90000, None, '10101', 'CS-101', '1', 'Fall', 2009)
('12121', 'Wu', 'Finance', 90000, None, '10101', 'CS-315', '1', 'Spring', 2010)
('12121', 'Wu', 'Finance', 90000, None, '10101', 'CS-347', '1', 'Fall', 2009)
('12121', 'Wu', 'Finance', 90000, None, '12121', 'FIN-201', '1', 'Spring', 2010)
('12121', 'Wu', 'Finance', 90000, None, '15151', 'MU-199', '1', 'Spring', 2010)
('12121', 'Wu', 'Finance', 90000, None, '22222', 'PHY-101', '1', 'Fall', 2009)
('12121', 'Wu', 'Finance', 90000, None, '32343', 'HIS-351', '1', 'Spring', 2010)
('12121', 'Wu', 'Finance', 90000, None, '45565', 'CS-101', '1', 'Spring', 2010)
('12121', 'Wu', 'Finance', 90000, None, '45565', 'CS-319', '1', 'Spring', 2010)
('12121', 'Wu', 'Finance', 90000, None, '76766', 'BIO-101', '1', 'Summer', 2009)
('12121', 'Wu', 'Finance', 90000, None, '76766', 'BIO-301', '1', 'Summer', 2010)
('12121', 'Wu', 'Finance', 90000, None, '83821', 'CS-190', '1', 'Spring', 2009)
('12121', 'Wu', 'Finance', 90000, None, '83821', 'CS-190', '2', 'Spring', 2009)
('12121', 'Wu', 'Finance', 90000, None, '83821', 'CS-319', '2', 'Spring', 2010)
('12121', 'Wu', 'Finance', 90000, None, '98345', 'EE-181', '1', 'Spring', 2009)
('15151', 'Mozart', 'Music', 40000, None, '10101', 'CS-101', '1', 'Fall', 2009)
('15151', 'Mozart', 'Music', 40000, None, '10101', 'CS-315', '1', 'Spring', 2010)
('15151', 'Mozart', 'Music', 40000, None, '10101', 'CS-347', '1', 'Fall', 2009)
('15151', 'Mozart', 'Music', 40000, None, '12121', 'FIN-201', '1', 'Spring', 2010)
('15151', 'Mozart', 'Music', 40000, None, '15151', 'MU-199', '1', 'Spring', 2010)
('15151', 'Mozart', 'Music', 40000, None, '22222', 'PHY-101', '1', 'Fall', 2009)
('15151', 'Mozart', 'Music', 40000, None, '32343', 'HIS-351', '1', 'Spring', 2010)
('15151', 'Mozart', 'Music', 40000, None, '45565', 'CS-101', '1', 'Spring', 2010)
('15151', 'Mozart', 'Music', 40000, None, '45565', 'CS-319', '1', 'Spring', 2010)
('15151', 'Mozart', 'Music', 40000, None, '76766', 'BIO-101', '1', 'Summer', 2009)
('15151', 'Mozart', 'Music', 40000, None, '76766', 'BIO-301', '1', 'Summer', 2010)
('15151', 'Mozart', 'Music', 40000, None, '83821', 'CS-190', '1', 'Spring', 2009)
('15151', 'Mozart', 'Music', 40000, None, '83821', 'CS-190', '2', 'Spring', 2009)
('15151', 'Mozart', 'Music', 40000, None, '83821', 'CS-319', '2', 'Spring', 2010)
('15151', 'Mozart', 'Music', 40000, None, '98345', 'EE-181', '1', 'Spring', 2009)
('22222', 'Einstein', 'Physics', 95000, None, '10101', 'CS-101', '1', 'Fall', 2009)
('22222', 'Einstein', 'Physics', 95000, None, '10101', 'CS-315', '1', 'Spring', 2010)
('22222', 'Einstein', 'Physics', 95000, None, '10101', 'CS-347', '1', 'Fall', 2009)
('22222', 'Einstein', 'Physics', 95000, None, '12121', 'FIN-201', '1', 'Spring', 2010)
('22222', 'Einstein', 'Physics', 95000, None, '15151', 'MU-199', '1', 'Spring', 2010)
('22222', 'Einstein', 'Physics', 95000, None, '22222', 'PHY-101', '1', 'Fall', 2009)
('22222', 'Einstein', 'Physics', 95000, None, '32343', 'HIS-351', '1', 'Spring', 2010)
('22222', 'Einstein', 'Physics', 95000, None, '45565', 'CS-101', '1', 'Spring', 2010)
('22222', 'Einstein', 'Physics', 95000, None, '45565', 'CS-319', '1', 'Spring', 2010)
('22222', 'Einstein', 'Physics', 95000, None, '76766', 'BIO-101', '1', 'Summer', 2009)
('22222', 'Einstein', 'Physics', 95000, None, '76766', 'BIO-301', '1', 'Summer', 2010)
('22222', 'Einstein', 'Physics', 95000, None, '83821', 'CS-190', '1', 'Spring', 2009)
('22222', 'Einstein', 'Physics', 95000, None, '83821', 'CS-190', '2', 'Spring', 2009)
('22222', 'Einstein', 'Physics', 95000, None, '83821', 'CS-319', '2', 'Spring', 2010)
('22222', 'Einstein', 'Physics', 95000, None, '98345', 'EE-181', '1', 'Spring', 2009)
('32343', 'El Said', 'History', 60000, None, '10101', 'CS-101', '1', 'Fall', 2009)
('32343', 'El Said', 'History', 60000, None, '10101', 'CS-315', '1', 'Spring', 2010)
('32343', 'El Said', 'History', 60000, None, '10101', 'CS-347', '1', 'Fall', 2009)
('32343', 'El Said', 'History', 60000, None, '12121', 'FIN-201', '1', 'Spring', 2010)
('32343', 'El Said', 'History', 60000, None, '15151', 'MU-199', '1', 'Spring', 2010)
('32343', 'El Said', 'History', 60000, None, '22222', 'PHY-101', '1', 'Fall', 2009)
('32343', 'El Said', 'History', 60000, None, '32343', 'HIS-351', '1', 'Spring', 2010)
('32343', 'El Said', 'History', 60000, None, '45565', 'CS-101', '1', 'Spring', 2010)
('32343', 'El Said', 'History', 60000, None, '45565', 'CS-319', '1', 'Spring', 2010)
('32343', 'El Said', 'History', 60000, None, '76766', 'BIO-101', '1', 'Summer', 2009)
('32343', 'El Said', 'History', 60000, None, '76766', 'BIO-301', '1', 'Summer', 2010)
('32343', 'El Said', 'History', 60000, None, '83821', 'CS-190', '1', 'Spring', 2009)
('32343', 'El Said', 'History', 60000, None, '83821', 'CS-190', '2', 'Spring', 2009)
('32343', 'El Said', 'History', 60000, None, '83821', 'CS-319', '2', 'Spring', 2010)
('32343', 'El Said', 'History', 60000, None, '98345', 'EE-181', '1', 'Spring', 2009)
('33456', 'Gold', 'Physics', 87000, None, '10101', 'CS-101', '1', 'Fall', 2009)
('33456', 'Gold', 'Physics', 87000, None, '10101', 'CS-315', '1', 'Spring', 2010)
('33456', 'Gold', 'Physics', 87000, None, '10101', 'CS-347', '1', 'Fall', 2009)
('33456', 'Gold', 'Physics', 87000, None, '12121', 'FIN-201', '1', 'Spring', 2010)
('33456', 'Gold', 'Physics', 87000, None, '15151', 'MU-199', '1', 'Spring', 2010)
('33456', 'Gold', 'Physics', 87000, None, '22222', 'PHY-101', '1', 'Fall', 2009)
('33456', 'Gold', 'Physics', 87000, None, '32343', 'HIS-351', '1', 'Spring', 2010)
('33456', 'Gold', 'Physics', 87000, None, '45565', 'CS-101', '1', 'Spring', 2010)
('33456', 'Gold', 'Physics', 87000, None, '45565', 'CS-319', '1', 'Spring', 2010)
('33456', 'Gold', 'Physics', 87000, None, '76766', 'BIO-101', '1', 'Summer', 2009)
('33456', 'Gold', 'Physics', 87000, None, '76766', 'BIO-301', '1', 'Summer', 2010)
('33456', 'Gold', 'Physics', 87000, None, '83821', 'CS-190', '1', 'Spring', 2009)
('33456', 'Gold', 'Physics', 87000, None, '83821', 'CS-190', '2', 'Spring', 2009)
('33456', 'Gold', 'Physics', 87000, None, '83821', 'CS-319', '2', 'Spring', 2010)
('33456', 'Gold', 'Physics', 87000, None, '98345', 'EE-181', '1', 'Spring', 2009)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '10101', 'CS-101', '1', 'Fall', 2009)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '10101', 'CS-315', '1', 'Spring', 2010)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '10101', 'CS-347', '1', 'Fall', 2009)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '12121', 'FIN-201', '1', 'Spring', 2010)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '15151', 'MU-199', '1', 'Spring', 2010)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '22222', 'PHY-101', '1', 'Fall', 2009)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '32343', 'HIS-351', '1', 'Spring', 2010)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '45565', 'CS-101', '1', 'Spring', 2010)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '45565', 'CS-319', '1', 'Spring', 2010)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '76766', 'BIO-101', '1', 'Summer', 2009)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '76766', 'BIO-301', '1', 'Summer', 2010)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '83821', 'CS-190', '1', 'Spring', 2009)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '83821', 'CS-190', '2', 'Spring', 2009)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '83821', 'CS-319', '2', 'Spring', 2010)
('45565', 'Katz', 'Comp. Sci.', 75000, None, '98345', 'EE-181', '1', 'Spring', 2009)
('58583', 'Califieri', 'History', 62000, None, '10101', 'CS-101', '1', 'Fall', 2009)
('58583', 'Califieri', 'History', 62000, None, '10101', 'CS-315', '1', 'Spring', 2010)
('58583', 'Califieri', 'History', 62000, None, '10101', 'CS-347', '1', 'Fall', 2009)
('58583', 'Califieri', 'History', 62000, None, '12121', 'FIN-201', '1', 'Spring', 2010)
('58583', 'Califieri', 'History', 62000, None, '15151', 'MU-199', '1', 'Spring', 2010)
('58583', 'Califieri', 'History', 62000, None, '22222', 'PHY-101', '1', 'Fall', 2009)
('58583', 'Califieri', 'History', 62000, None, '32343', 'HIS-351', '1', 'Spring', 2010)
('58583', 'Califieri', 'History', 62000, None, '45565', 'CS-101', '1', 'Spring', 2010)
('58583', 'Califieri', 'History', 62000, None, '45565', 'CS-319', '1', 'Spring', 2010)
('58583', 'Califieri', 'History', 62000, None, '76766', 'BIO-101', '1', 'Summer', 2009)
('58583', 'Califieri', 'History', 62000, None, '76766', 'BIO-301', '1', 'Summer', 2010)
('58583', 'Califieri', 'History', 62000, None, '83821', 'CS-190', '1', 'Spring', 2009)
('58583', 'Califieri', 'History', 62000, None, '83821', 'CS-190', '2', 'Spring', 2009)
('58583', 'Califieri', 'History', 62000, None, '83821', 'CS-319', '2', 'Spring', 2010)
('58583', 'Califieri', 'History', 62000, None, '98345', 'EE-181', '1', 'Spring', 2009)
('76543', 'Singh', 'Finance', 80000, None, '10101', 'CS-101', '1', 'Fall', 2009)
('76543', 'Singh', 'Finance', 80000, None, '10101', 'CS-315', '1', 'Spring', 2010)
('76543', 'Singh', 'Finance', 80000, None, '10101', 'CS-347', '1', 'Fall', 2009)
('76543', 'Singh', 'Finance', 80000, None, '12121', 'FIN-201', '1', 'Spring', 2010)
('76543', 'Singh', 'Finance', 80000, None, '15151', 'MU-199', '1', 'Spring', 2010)
('76543', 'Singh', 'Finance', 80000, None, '22222', 'PHY-101', '1', 'Fall', 2009)
('76543', 'Singh', 'Finance', 80000, None, '32343', 'HIS-351', '1', 'Spring', 2010)
('76543', 'Singh', 'Finance', 80000, None, '45565', 'CS-101', '1', 'Spring', 2010)
('76543', 'Singh', 'Finance', 80000, None, '45565', 'CS-319', '1', 'Spring', 2010)
('76543', 'Singh', 'Finance', 80000, None, '76766', 'BIO-101', '1', 'Summer', 2009)
('76543', 'Singh', 'Finance', 80000, None, '76766', 'BIO-301', '1', 'Summer', 2010)
('76543', 'Singh', 'Finance', 80000, None, '83821', 'CS-190', '1', 'Spring', 2009)
('76543', 'Singh', 'Finance', 80000, None, '83821', 'CS-190', '2', 'Spring', 2009)
('76543', 'Singh', 'Finance', 80000, None, '83821', 'CS-319', '2', 'Spring', 2010)
('76543', 'Singh', 'Finance', 80000, None, '98345', 'EE-181', '1', 'Spring', 2009)
('76766', 'Crick', 'Biology', 72000, None, '10101', 'CS-101', '1', 'Fall', 2009)
('76766', 'Crick', 'Biology', 72000, None, '10101', 'CS-315', '1', 'Spring', 2010)
('76766', 'Crick', 'Biology', 72000, None, '10101', 'CS-347', '1', 'Fall', 2009)
('76766', 'Crick', 'Biology', 72000, None, '12121', 'FIN-201', '1', 'Spring', 2010)
('76766', 'Crick', 'Biology', 72000, None, '15151', 'MU-199', '1', 'Spring', 2010)
('76766', 'Crick', 'Biology', 72000, None, '22222', 'PHY-101', '1', 'Fall', 2009)
('76766', 'Crick', 'Biology', 72000, None, '32343', 'HIS-351', '1', 'Spring', 2010)
('76766', 'Crick', 'Biology', 72000, None, '45565', 'CS-101', '1', 'Spring', 2010)
('76766', 'Crick', 'Biology', 72000, None, '45565', 'CS-319', '1', 'Spring', 2010)
('76766', 'Crick', 'Biology', 72000, None, '76766', 'BIO-101', '1', 'Summer', 2009)
('76766', 'Crick', 'Biology', 72000, None, '76766', 'BIO-301', '1', 'Summer', 2010)
('76766', 'Crick', 'Biology', 72000, None, '83821', 'CS-190', '1', 'Spring', 2009)
('76766', 'Crick', 'Biology', 72000, None, '83821', 'CS-190', '2', 'Spring', 2009)
('76766', 'Crick', 'Biology', 72000, None, '83821', 'CS-319', '2', 'Spring', 2010)
('76766', 'Crick', 'Biology', 72000, None, '98345', 'EE-181', '1', 'Spring', 2009)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '10101', 'CS-101', '1', 'Fall', 2009)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '10101', 'CS-315', '1', 'Spring', 2010)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '10101', 'CS-347', '1', 'Fall', 2009)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '12121', 'FIN-201', '1', 'Spring', 2010)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '15151', 'MU-199', '1', 'Spring', 2010)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '22222', 'PHY-101', '1', 'Fall', 2009)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '32343', 'HIS-351', '1', 'Spring', 2010)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '45565', 'CS-101', '1', 'Spring', 2010)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '45565', 'CS-319', '1', 'Spring', 2010)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '76766', 'BIO-101', '1', 'Summer', 2009)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '76766', 'BIO-301', '1', 'Summer', 2010)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '83821', 'CS-190', '1', 'Spring', 2009)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '83821', 'CS-190', '2', 'Spring', 2009)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '83821', 'CS-319', '2', 'Spring', 2010)
('83821', 'Brandt', 'Comp. Sci.', 92000, None, '98345', 'EE-181', '1', 'Spring', 2009)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '10101', 'CS-101', '1', 'Fall', 2009)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '10101', 'CS-315', '1', 'Spring', 2010)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '10101', 'CS-347', '1', 'Fall', 2009)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '12121', 'FIN-201', '1', 'Spring', 2010)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '15151', 'MU-199', '1', 'Spring', 2010)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '22222', 'PHY-101', '1', 'Fall', 2009)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '32343', 'HIS-351', '1', 'Spring', 2010)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '45565', 'CS-101', '1', 'Spring', 2010)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '45565', 'CS-319', '1', 'Spring', 2010)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '76766', 'BIO-101', '1', 'Summer', 2009)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '76766', 'BIO-301', '1', 'Summer', 2010)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '83821', 'CS-190', '1', 'Spring', 2009)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '83821', 'CS-190', '2', 'Spring', 2009)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '83821', 'CS-319', '2', 'Spring', 2010)
('98345', 'Kim', 'Elec. Eng.', 80000, None, '98345', 'EE-181', '1', 'Spring', 2009)
('10211', 'Aditya', 'SriDevi', 10000000, None, '10101', 'CS-101', '1', 'Fall', 2009)
('10211', 'Aditya', 'SriDevi', 10000000, None, '10101', 'CS-315', '1', 'Spring', 2010)
('10211', 'Aditya', 'SriDevi', 10000000, None, '10101', 'CS-347', '1', 'Fall', 2009)
('10211', 'Aditya', 'SriDevi', 10000000, None, '12121', 'FIN-201', '1', 'Spring', 2010)
('10211', 'Aditya', 'SriDevi', 10000000, None, '15151', 'MU-199', '1', 'Spring', 2010)
('10211', 'Aditya', 'SriDevi', 10000000, None, '22222', 'PHY-101', '1', 'Fall', 2009)
('10211', 'Aditya', 'SriDevi', 10000000, None, '32343', 'HIS-351', '1', 'Spring', 2010)
('10211', 'Aditya', 'SriDevi', 10000000, None, '45565', 'CS-101', '1', 'Spring', 2010)
('10211', 'Aditya', 'SriDevi', 10000000, None, '45565', 'CS-319', '1', 'Spring', 2010)
('10211', 'Aditya', 'SriDevi', 10000000, None, '76766', 'BIO-101', '1', 'Summer', 2009)
('10211', 'Aditya', 'SriDevi', 10000000, None, '76766', 'BIO-301', '1', 'Summer', 2010)
('10211', 'Aditya', 'SriDevi', 10000000, None, '83821', 'CS-190', '1', 'Spring', 2009)
('10211', 'Aditya', 'SriDevi', 10000000, None, '83821', 'CS-190', '2', 'Spring', 2009)
('10211', 'Aditya', 'SriDevi', 10000000, None, '83821', 'CS-319', '2', 'Spring', 2010)
('10211', 'Aditya', 'SriDevi', 10000000, None, '98345', 'EE-181', '1', 'Spring', 2009)

In [16]:
Query="""
SELECT name, dept_name, course_id
FROM instructor, teaches
where instructor.dept_name='SriDevi'
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('name', 'dept_name', 'course_id')
('Aditya', 'SriDevi', 'CS-101')
('Aditya', 'SriDevi', 'CS-315')
('Aditya', 'SriDevi', 'CS-347')
('Aditya', 'SriDevi', 'FIN-201')
('Aditya', 'SriDevi', 'MU-199')
('Aditya', 'SriDevi', 'PHY-101')
('Aditya', 'SriDevi', 'HIS-351')
('Aditya', 'SriDevi', 'CS-101')
('Aditya', 'SriDevi', 'CS-319')
('Aditya', 'SriDevi', 'BIO-101')
('Aditya', 'SriDevi', 'BIO-301')
('Aditya', 'SriDevi', 'CS-190')
('Aditya', 'SriDevi', 'CS-190')
('Aditya', 'SriDevi', 'CS-319')
('Aditya', 'SriDevi', 'EE-181')

In [17]:
Query="""
SELECT distinct T.name, T.salary, S.name, S.salary
FROM instructor as T, instructor as S
where T.salary > S.salary
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('name', 'salary', 'name', 'salary')
('Srinivasan', 65000, 'Mozart', 40000)
('Srinivasan', 65000, 'El Said', 60000)
('Srinivasan', 65000, 'Califieri', 62000)
('Wu', 90000, 'Srinivasan', 65000)
('Wu', 90000, 'Mozart', 40000)
('Wu', 90000, 'El Said', 60000)
('Wu', 90000, 'Gold', 87000)
('Wu', 90000, 'Katz', 75000)
('Wu', 90000, 'Califieri', 62000)
('Wu', 90000, 'Singh', 80000)
('Wu', 90000, 'Crick', 72000)
('Wu', 90000, 'Kim', 80000)
('Einstein', 95000, 'Srinivasan', 65000)
('Einstein', 95000, 'Wu', 90000)
('Einstein', 95000, 'Mozart', 40000)
('Einstein', 95000, 'El Said', 60000)
('Einstein', 95000, 'Gold', 87000)
('Einstein', 95000, 'Katz', 75000)
('Einstein', 95000, 'Califieri', 62000)
('Einstein', 95000, 'Singh', 80000)
('Einstein', 95000, 'Crick', 72000)
('Einstein', 95000, 'Brandt', 92000)
('Einstein', 95000, 'Kim', 80000)
('El Said', 60000, 'Mozart', 40000)
('Gold', 87000, 'Srinivasan', 65000)
('Gold', 87000, 'Mozart', 40000)
('Gold', 87000, 'El Said', 60000)
('Gold', 87000, 'Katz', 75000)
('Gold', 87000, 'Califieri', 62000)
('Gold', 87000, 'Singh', 80000)
('Gold', 87000, 'Crick', 72000)
('Gold', 87000, 'Kim', 80000)
('Katz', 75000, 'Srinivasan', 65000)
('Katz', 75000, 'Mozart', 40000)
('Katz', 75000, 'El Said', 60000)
('Katz', 75000, 'Califieri', 62000)
('Katz', 75000, 'Crick', 72000)
('Califieri', 62000, 'Mozart', 40000)
('Califieri', 62000, 'El Said', 60000)
('Singh', 80000, 'Srinivasan', 65000)
('Singh', 80000, 'Mozart', 40000)
('Singh', 80000, 'El Said', 60000)
('Singh', 80000, 'Katz', 75000)
('Singh', 80000, 'Califieri', 62000)
('Singh', 80000, 'Crick', 72000)
('Crick', 72000, 'Srinivasan', 65000)
('Crick', 72000, 'Mozart', 40000)
('Crick', 72000, 'El Said', 60000)
('Crick', 72000, 'Califieri', 62000)
('Brandt', 92000, 'Srinivasan', 65000)
('Brandt', 92000, 'Wu', 90000)
('Brandt', 92000, 'Mozart', 40000)
('Brandt', 92000, 'El Said', 60000)
('Brandt', 92000, 'Gold', 87000)
('Brandt', 92000, 'Katz', 75000)
('Brandt', 92000, 'Califieri', 62000)
('Brandt', 92000, 'Singh', 80000)
('Brandt', 92000, 'Crick', 72000)
('Brandt', 92000, 'Kim', 80000)
('Kim', 80000, 'Srinivasan', 65000)
('Kim', 80000, 'Mozart', 40000)
('Kim', 80000, 'El Said', 60000)
('Kim', 80000, 'Katz', 75000)
('Kim', 80000, 'Califieri', 62000)
('Kim', 80000, 'Crick', 72000)
('Aditya', 10000000, 'Srinivasan', 65000)
('Aditya', 10000000, 'Wu', 90000)
('Aditya', 10000000, 'Mozart', 40000)
('Aditya', 10000000, 'Einstein', 95000)
('Aditya', 10000000, 'El Said', 60000)
('Aditya', 10000000, 'Gold', 87000)
('Aditya', 10000000, 'Katz', 75000)
('Aditya', 10000000, 'Califieri', 62000)
('Aditya', 10000000, 'Singh', 80000)
('Aditya', 10000000, 'Crick', 72000)
('Aditya', 10000000, 'Brandt', 92000)
('Aditya', 10000000, 'Kim', 80000)

In [18]:
Query="""
SELECT name,dept_name
FROM instructor
where name like '%it%'
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('name', 'dept_name')
('Aditya', 'SriDevi')

In [19]:
Query="""
SELECT dept_name,name
FROM instructor
order by dept_name, name
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('dept_name', 'name')
('Biology', 'Crick')
('Comp. Sci.', 'Brandt')
('Comp. Sci.', 'Katz')
('Comp. Sci.', 'Srinivasan')
('Elec. Eng.', 'Kim')
('Finance', 'Singh')
('Finance', 'Wu')
('History', 'Califieri')
('History', 'El Said')
('Music', 'Mozart')
('Physics', 'Einstein')
('Physics', 'Gold')
('SriDevi', 'Aditya')

In [20]:
Query="""
SELECT name,dept_name,salary
FROM instructor
where salary between 40000 and 70000
order by name
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('name', 'dept_name', 'salary')
('Califieri', 'History', 62000)
('El Said', 'History', 60000)
('Mozart', 'Music', 40000)
('Srinivasan', 'Comp. Sci.', 65000)

In [21]:
Query="""
SELECT course_id from section where semester='Fall' and year=2009
union
select course_id from section where semester='Spring' and year=2010
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('course_id',)
('CS-101',)
('CS-315',)
('CS-319',)
('CS-347',)
('FIN-201',)
('HIS-351',)
('MU-199',)
('PHY-101',)

In [22]:
Query="""
SELECT avg(salary)
FROM instructor
where cgpa is null
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('avg(salary)',)
(838307.6923076923,)

In [23]:
Query="""
SELECT dept_name, avg(salary)
FROM instructor
where cgpa is null
group by dept_name
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('dept_name', 'avg(salary)')
('Biology', 72000.0)
('Comp. Sci.', 77333.33333333333)
('Elec. Eng.', 80000.0)
('Finance', 85000.0)
('History', 61000.0)
('Music', 40000.0)
('Physics', 91000.0)
('SriDevi', 10000000.0)

In [24]:
Query="""
SELECT dept_name, avg(salary)
FROM instructor
where cgpa is null
group by dept_name
having avg(salary) > 70000
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('dept_name', 'avg(salary)')
('Biology', 72000.0)
('Comp. Sci.', 77333.33333333333)
('Elec. Eng.', 80000.0)
('Finance', 85000.0)
('Physics', 91000.0)
('SriDevi', 10000000.0)

In [25]:
Query="""
select distinct course_id
from section
where semester = 'Fall' and year= 2009 and
    course_id not in (select course_id
                    from section
                    where semester = 'Spring' and year= 2010);
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('course_id',)
('CS-347',)
('PHY-101',)

In [26]:
Query="""
select distinct course_id from section where semester = 'Fall' and year=2009
except
select course_id from section where semester = 'Spring' and year=2010
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('course_id',)
('CS-347',)
('PHY-101',)

In [27]:
Query="""
select distinct course_id from section where semester = 'Fall' and year=2009
except
select course_id from section where semester = 'Spring' and year=2010
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('course_id',)
('CS-347',)
('PHY-101',)

In [28]:
Query="""
select *
from department
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('dept_name', 'building', 'budget')
('Biology', 'Watson', 90000)
('Comp. Sci.', 'Taylor', 100000)
('Elec. Eng.', 'Taylor', 85000)
('Finance', 'Painter', 120000)
('History', 'Painter', 50000)
('Music', 'Packard', 80000)
('Physics', 'Watson', 70000)

In [29]:
Query="""
with max_budget (value) as
    (select max(budget)
    from department)
select budget, dept_name
from department, max_budget
where department.budget = max_budget.value;
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('budget', 'dept_name')
(120000, 'Finance')

In [30]:
Query="""
with dept_total (name, dept_name, value) as
    (select name, dept_name, sum(salary)
    from instructor
    group by dept_name),
dept_total_avg(name, value) as
    (select name, avg(value)
    from dept_total)
select dept_total.name,dept_name
from dept_total, dept_total_avg
where dept_total.value >= dept_total_avg.value;
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('name', 'dept_name')
('Aditya', 'SriDevi')