# DBMS-1

Learning SQL

#### Python Libraries and Definitions

In [1]:
import sqlite3

Reading Commands from .sql file

In [2]:
def Extract(FilePath):
    f = open(FilePath)
    s = f.read()
    return s

#### Q1

In [3]:
connection = sqlite3.connect("DataBases/Q1.db")
cursor = connection.cursor()

Command="""
create table E
	(enr		varchar(15),
	 ename		varchar(7),
	 dept		varchar(7),
	 primary key (enr)
	);
"""
cursor.executescript(Command)


Command="""
create table D
	(dnr		varchar(7),
	dname		varchar(15),
	 primary key (dnr)
	);
"""
cursor.executescript(Command)

In [4]:
Command="""
insert into E values ('1', 'Bill', 'A');
insert into E values ('2', 'Sarah', 'C');
insert into E values ('3', 'John', 'A');
"""
cursor.executescript(Command)

Command="""
insert into D values ('A', 'Marketing');
insert into D values ('B', 'Sales');
insert into D values ('C', 'Legal');
"""
cursor.executescript(Command)

In [5]:
Query="""
Select *
from E,D;
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('enr', 'ename', 'dept', 'dnr', 'dname')
('1', 'Bill', 'A', 'A', 'Marketing')
('1', 'Bill', 'A', 'B', 'Sales')
('1', 'Bill', 'A', 'C', 'Legal')
('2', 'Sarah', 'C', 'A', 'Marketing')
('2', 'Sarah', 'C', 'B', 'Sales')
('2', 'Sarah', 'C', 'C', 'Legal')
('3', 'John', 'A', 'A', 'Marketing')
('3', 'John', 'A', 'B', 'Sales')
('3', 'John', 'A', 'C', 'Legal')

In [6]:
Query="""
Select *
from E,D
where dept=dnr;
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('enr', 'ename', 'dept', 'dnr', 'dname')
('1', 'Bill', 'A', 'A', 'Marketing')
('2', 'Sarah', 'C', 'C', 'Legal')
('3', 'John', 'A', 'A', 'Marketing')

#### Q4

In [7]:
connection = sqlite3.connect("DataBases/Q4.db")
cursor = connection.cursor()

Command="""
create table TNL
	(Nmbr	 		float
	);
"""
cursor.executescript(Command)

Command="""
insert into TNL values (1);
insert into TNL values (0);
insert into TNL values (0);
insert into TNL values (1);
insert into TNL values (1);
insert into TNL values (1);
insert into TNL values (1);
insert into TNL values (0);
insert into TNL values (0);
insert into TNL values (1);
insert into TNL values (0);
insert into TNL values (1);
insert into TNL values (0);
insert into TNL values (1);
insert into TNL values (0);
insert into TNL values (1);
"""

cursor.executescript(Command)

In [8]:
Query="""
Select *
from TNL
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('Nmbr',)
(1.0,)
(0.0,)
(0.0,)
(1.0,)
(1.0,)
(1.0,)
(1.0,)
(0.0,)
(0.0,)
(1.0,)
(0.0,)
(1.0,)
(0.0,)
(1.0,)
(0.0,)
(1.0,)

In [9]:
Query="""
Update TNL
set Nmbr = case
            when Nmbr = 0 then Nmbr + 2
            else Nmbr + 3
            end;
"""
cursor.execute(Query) 

Query="""
Select *
from TNL
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('Nmbr',)
(4.0,)
(2.0,)
(2.0,)
(4.0,)
(4.0,)
(4.0,)
(4.0,)
(2.0,)
(2.0,)
(4.0,)
(2.0,)
(4.0,)
(2.0,)
(4.0,)
(2.0,)
(4.0,)

#### Q10

In [10]:
connection = sqlite3.connect("DataBases/Q10.db")
cursor = connection.cursor()

Command="""
create table A
	(x	 		float
	);
"""
cursor.executescript(Command)

Command="""
insert into A values (2);
insert into A values (-2);
insert into A values (4);
insert into A values (-4);
insert into A values (-3);
insert into A values (0);
insert into A values (2);
"""

cursor.executescript(Command)

In [11]:
Query="""
Select *
from A
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('x',)
(2.0,)
(-2.0,)
(4.0,)
(-4.0,)
(-3.0,)
(0.0,)
(2.0,)

In [12]:
Query="""
Select  Sum(case
                when x>0 then 0
                else x
            end) as NegetiveSum,
        Sum(case
                when x>0 then x
                else 0
            end) as PositiveSum
From A;
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('NegetiveSum', 'PositiveSum')
(-9.0, 8.0)

#### Q5 and Q8

In [13]:
connection = sqlite3.connect("DataBases/Q5_Q8.db")
cursor = connection.cursor()

Command="""
create table Suppliers
	(sid        int,
     sname      varchar(20),
     address    varchar(20),
     primary key(sid)
	);
"""
cursor.executescript(Command)

Command = """create table Parts
	(pid        int,
     pname      varchar(20),
     color    varchar(20),
     primary key(pid)
	)

"""
cursor.executescript(Command)

Command="""
create table Catalog
	(sid        int,
     pid        int,
     cost       real,
     primary key(sid, pid)
	);
"""
cursor.executescript(Command)

In [14]:
Command="""
insert into Suppliers values (1, "Aditya", "SriDevi");
insert into Suppliers values (2, "Akash", "ML");
insert into Suppliers values (3, "Narasimha", "Signal");
insert into Suppliers values (4, "Srikar", "ML");

insert into Parts values (1, "Laptop", "Red");
insert into Parts values (2, "Phone", "Green");
insert into Parts values (3, "Tab", "Green");
insert into Parts values (4, "Headphones", "Green");
insert into Parts values (5, "Ring", "Yellow");
insert into Parts values (6, "Car", "Red");
insert into Parts values (7, "Plane", "Green");
insert into Parts values (8, "Boat", "Red");

insert into Catalog values (1, 1, 30);
insert into Catalog values (1, 2, 15);
insert into Catalog values (2, 3, 10);
insert into Catalog values (2, 4, 99);
insert into Catalog values (3, 5, 19);
insert into Catalog values (3, 6, 89);
insert into Catalog values (4, 7, 29);
insert into Catalog values (4, 8, 59);
"""
cursor.executescript(Command)

In [15]:
Query="""
Select *
from Suppliers
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('sid', 'sname', 'address')
(1, 'Aditya', 'SriDevi')
(2, 'Akash', 'ML')
(3, 'Narasimha', 'Signal')
(4, 'Srikar', 'ML')

In [16]:
Query="""
Select *
from Parts
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('pid', 'pname', 'color')
(1, 'Laptop', 'Red')
(2, 'Phone', 'Green')
(3, 'Tab', 'Green')
(4, 'Headphones', 'Green')
(5, 'Ring', 'Yellow')
(6, 'Car', 'Red')
(7, 'Plane', 'Green')
(8, 'Boat', 'Red')

In [17]:
Query="""
Select *
from Catalog
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('sid', 'pid', 'cost')
(1, 1, 30.0)
(1, 2, 15.0)
(2, 3, 10.0)
(2, 4, 99.0)
(3, 5, 19.0)
(3, 6, 89.0)
(4, 7, 29.0)
(4, 8, 59.0)

In [18]:
Query="""
Select sid from suppliers
where sid in (select sid from Catalog
                where pid in (select pid from Parts
                                where color = "Red") and cost < 100)
intersect
Select sid from suppliers
where sid in (select sid from Catalog
                where pid in (select pid from Parts
                                where color = "Green") and cost < 100);
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('sid',)
(1,)
(4,)

In [19]:
Query="""
select sid from Catalog
where pid in (select pid from Parts
                where color = "Red") and cost < 100;
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('sid',)
(1,)
(3,)
(4,)

In [20]:
Query="""
select sid from Catalog
where pid in (select pid from Parts
        where color = "Green") and cost < 100;
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('sid',)
(1,)
(2,)
(2,)
(4,)

In [21]:
Query="""
SELECT * 
FROM Parts NATURAL JOIN Catalog
where color="Red" and cost < 100;
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('pid', 'pname', 'color', 'sid', 'cost')
(1, 'Laptop', 'Red', 1, 30.0)
(6, 'Car', 'Red', 3, 89.0)
(8, 'Boat', 'Red', 4, 59.0)

In [22]:
Query="""
SELECT * 
FROM Parts NATURAL JOIN Catalog
where color="Green" and cost < 100;
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('pid', 'pname', 'color', 'sid', 'cost')
(2, 'Phone', 'Green', 1, 15.0)
(3, 'Tab', 'Green', 2, 10.0)
(4, 'Headphones', 'Green', 2, 99.0)
(7, 'Plane', 'Green', 4, 29.0)

In [23]:
Query="""
SELECT sid
FROM Parts NATURAL JOIN Catalog
where color="Red" and cost < 100

intersect

SELECT sid
FROM Parts NATURAL JOIN Catalog
where color="Green" and cost < 100
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('sid',)
(1,)
(4,)

In [24]:
Query="""
Select sid, sname, max(cost) from Suppliers NATURAL JOIN Catalog
where sid in (
            SELECT sid
            FROM Parts NATURAL JOIN Catalog
            where color="Red"
            intersect
            SELECT sid
            FROM Parts NATURAL JOIN Catalog
            where color="Green"
            )
group by sid
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('sid', 'sname', 'max(cost)')
(1, 'Aditya', 30.0)
(4, 'Srikar', 59.0)

In [25]:
Query="""
Select *
from Suppliers NATURAL JOIN Catalog;
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('sid', 'sname', 'address', 'pid', 'cost')
(1, 'Aditya', 'SriDevi', 1, 30.0)
(1, 'Aditya', 'SriDevi', 2, 15.0)
(2, 'Akash', 'ML', 3, 10.0)
(2, 'Akash', 'ML', 4, 99.0)
(3, 'Narasimha', 'Signal', 5, 19.0)
(3, 'Narasimha', 'Signal', 6, 89.0)
(4, 'Srikar', 'ML', 7, 29.0)
(4, 'Srikar', 'ML', 8, 59.0)

#### Q9

In [26]:
connection = sqlite3.connect("DataBases/Q9.db")
cursor = connection.cursor()

Command="""
create table users
	(user_id        int,
     username      varchar(50),
     primary key(user_id)
	);
"""
cursor.executescript(Command)

Command = """create table training_details
	(user_id                 int,
     training_id             int,
     training_date           varchar(20)
	);
"""
cursor.executescript(Command)

In [27]:
Command="""
insert into users values (1, "John Doe");
insert into users values (2, "Jane Don");
insert into users values (3, "Alice Jones");
insert into users values (4, "Lisa Romero");

insert into training_details values (1,1,"2015-08-02");
insert into training_details values (2,1,"2015-08-03");
insert into training_details values (3,2,"2015-08-02");
insert into training_details values (4,2,"2015-08-04");
insert into training_details values (2,2,"2015-08-03");
insert into training_details values (1,1,"2015-08-02");
insert into training_details values (3,2,"2015-08-04");
insert into training_details values (4,3,"2015-08-03");
insert into training_details values (1,4,"2015-08-03");
insert into training_details values (3,1,"2015-08-02");
insert into training_details values (4,2,"2015-08-04");
insert into training_details values (3,2,"2015-08-02");
insert into training_details values (1,1,"2015-08-02");
insert into training_details values (4,3,"2015-08-03");
"""
cursor.executescript(Command)

In [28]:
Query="""
Select *
from training_details
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('user_id', 'training_id', 'training_date')
(1, 1, '2015-08-02')
(2, 1, '2015-08-03')
(3, 2, '2015-08-02')
(4, 2, '2015-08-04')
(2, 2, '2015-08-03')
(1, 1, '2015-08-02')
(3, 2, '2015-08-04')
(4, 3, '2015-08-03')
(1, 4, '2015-08-03')
(3, 1, '2015-08-02')
(4, 2, '2015-08-04')
(3, 2, '2015-08-02')
(1, 1, '2015-08-02')
(4, 3, '2015-08-03')

In [29]:
Query="""
Select *
from training_details
where user_id = 2
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('user_id', 'training_id', 'training_date')
(2, 1, '2015-08-03')
(2, 2, '2015-08-03')

In [30]:
Query="""
Select count(user_id)
from training_details
"""
cursor.execute(Query) 
print("Fetch All:")
names = tuple(map(lambda x: x[0], cursor.description))
print (names)
result = cursor.fetchall() 
for r in result:
    print(r)

Fetch All:
('count(user_id)',)
(14,)